# /www/.htaccess (Versión con Enrutador PHP)

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Si el archivo o directorio solicitado NO existe...
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # ...envía SIEMPRE la petición a nuestro index.php principal.
    RewriteRule . /index.php [L]
</IfModule>